/* Coolors Exported Palette - https://coolors.co/6a544c-835e58-d4ad9a-f9e8de-b1a9a8-b0b4bd-c1cdd9 */

/* CSS HEX */
--umber: #6a544cff;
--deep-taupe: #835e58ff;
--tumbleweed: #d4ad9aff;
--linen: #f9e8deff;
--black-shadows: #b1a9a8ff;
--cadet-blue-crayola: #b0b4bdff;
--beau-blue: #c1cdd9ff;

/* CSS HSL */
--umber: hsla(16, 16%, 36%, 1);
--deep-taupe: hsla(8, 20%, 43%, 1);
--tumbleweed: hsla(20, 40%, 72%, 1);
--linen: hsla(22, 69%, 92%, 1);
--black-shadows: hsla(7, 5%, 68%, 1);
--cadet-blue-crayola: hsla(222, 9%, 72%, 1);
--beau-blue: hsla(210, 24%, 80%, 1);

/* SCSS HEX */
$umber: #6a544cff;
$deep-taupe: #835e58ff;
$tumbleweed: #d4ad9aff;
$linen: #f9e8deff;
$black-shadows: #b1a9a8ff;
$cadet-blue-crayola: #b0b4bdff;
$beau-blue: #c1cdd9ff;

/* SCSS HSL */
$umber: hsla(16, 16%, 36%, 1);
$deep-taupe: hsla(8, 20%, 43%, 1);
$tumbleweed: hsla(20, 40%, 72%, 1);
$linen: hsla(22, 69%, 92%, 1);
$black-shadows: hsla(7, 5%, 68%, 1);
$cadet-blue-crayola: hsla(222, 9%, 72%, 1);
$beau-blue: hsla(210, 24%, 80%, 1);

/* SCSS RGB */
$umber: rgba(106, 84, 76, 1);
$deep-taupe: rgba(131, 94, 88, 1);
$tumbleweed: rgba(212, 173, 154, 1);
$linen: rgba(249, 232, 222, 1);
$black-shadows: rgba(177, 169, 168, 1);
$cadet-blue-crayola: rgba(176, 180, 189, 1);
$beau-blue: rgba(193, 205, 217, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #6a544cff, #835e58ff, #d4ad9aff, #f9e8deff, #b1a9a8ff, #b0b4bdff, #c1cdd9ff);
$gradient-right: linear-gradient(90deg, #6a544cff, #835e58ff, #d4ad9aff, #f9e8deff, #b1a9a8ff, #b0b4bdff, #c1cdd9ff);
$gradient-bottom: linear-gradient(180deg, #6a544cff, #835e58ff, #d4ad9aff, #f9e8deff, #b1a9a8ff, #b0b4bdff, #c1cdd9ff);
$gradient-left: linear-gradient(270deg, #6a544cff, #835e58ff, #d4ad9aff, #f9e8deff, #b1a9a8ff, #b0b4bdff, #c1cdd9ff);
$gradient-top-right: linear-gradient(45deg, #6a544cff, #835e58ff, #d4ad9aff, #f9e8deff, #b1a9a8ff, #b0b4bdff, #c1cdd9ff);
$gradient-bottom-right: linear-gradient(135deg, #6a544cff, #835e58ff, #d4ad9aff, #f9e8deff, #b1a9a8ff, #b0b4bdff, #c1cdd9ff);
$gradient-top-left: linear-gradient(225deg, #6a544cff, #835e58ff, #d4ad9aff, #f9e8deff, #b1a9a8ff, #b0b4bdff, #c1cdd9ff);
$gradient-bottom-left: linear-gradient(315deg, #6a544cff, #835e58ff, #d4ad9aff, #f9e8deff, #b1a9a8ff, #b0b4bdff, #c1cdd9ff);
$gradient-radial: radial-gradient(#6a544cff, #835e58ff, #d4ad9aff, #f9e8deff, #b1a9a8ff, #b0b4bdff, #c1cdd9ff);