/* Coolors Exported Palette - https://coolors.co/0a0908-22333b-eae0d5-c6ac8f-5e503f-bd643e-3d1504 */

/* CSS HEX */
--rich-black-fogra-39: #0a0908ff;
--gunmetal: #22333bff;
--almond: #eae0d5ff;
--khaki-web: #c6ac8fff;
--umber: #5e503fff;
--copper-red: #bd643eff;
--black-bean: #3d1504ff;

/* CSS HSL */
--rich-black-fogra-39: hsla(30, 11%, 4%, 1);
--gunmetal: hsla(199, 27%, 18%, 1);
--almond: hsla(31, 33%, 88%, 1);
--khaki-web: hsla(32, 33%, 67%, 1);
--umber: hsla(33, 20%, 31%, 1);
--copper-red: hsla(18, 51%, 49%, 1);
--black-bean: hsla(18, 88%, 13%, 1);

/* SCSS HEX */
$rich-black-fogra-39: #0a0908ff;
$gunmetal: #22333bff;
$almond: #eae0d5ff;
$khaki-web: #c6ac8fff;
$umber: #5e503fff;
$copper-red: #bd643eff;
$black-bean: #3d1504ff;

/* SCSS HSL */
$rich-black-fogra-39: hsla(30, 11%, 4%, 1);
$gunmetal: hsla(199, 27%, 18%, 1);
$almond: hsla(31, 33%, 88%, 1);
$khaki-web: hsla(32, 33%, 67%, 1);
$umber: hsla(33, 20%, 31%, 1);
$copper-red: hsla(18, 51%, 49%, 1);
$black-bean: hsla(18, 88%, 13%, 1);

/* SCSS RGB */
$rich-black-fogra-39: rgba(10, 9, 8, 1);
$gunmetal: rgba(34, 51, 59, 1);
$almond: rgba(234, 224, 213, 1);
$khaki-web: rgba(198, 172, 143, 1);
$umber: rgba(94, 80, 63, 1);
$copper-red: rgba(189, 100, 62, 1);
$black-bean: rgba(61, 21, 4, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff, #bd643eff, #3d1504ff);
$gradient-right: linear-gradient(90deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff, #bd643eff, #3d1504ff);
$gradient-bottom: linear-gradient(180deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff, #bd643eff, #3d1504ff);
$gradient-left: linear-gradient(270deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff, #bd643eff, #3d1504ff);
$gradient-top-right: linear-gradient(45deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff, #bd643eff, #3d1504ff);
$gradient-bottom-right: linear-gradient(135deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff, #bd643eff, #3d1504ff);
$gradient-top-left: linear-gradient(225deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff, #bd643eff, #3d1504ff);
$gradient-bottom-left: linear-gradient(315deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff, #bd643eff, #3d1504ff);
$gradient-radial: radial-gradient(#0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff, #bd643eff, #3d1504ff);