/* Coolors Exported Palette - https://coolors.co/5e5b5b-a6a39e-ccc1bf-cdaca3-eee2e4-f1ecf2-cecdd3-bac1d1 */

/* CSS HEX */
--davys-grey: #5e5b5bff;
--quick-silver: #a6a39eff;
--pale-silver: #ccc1bfff;
--silver-pink: #cdaca3ff;
--lavender-blush: #eee2e4ff;
--magnolia: #f1ecf2ff;
--light-gray: #cecdd3ff;
--light-periwinkle: #bac1d1ff;

/* CSS HSL */
--davys-grey: hsla(0, 2%, 36%, 1);
--quick-silver: hsla(37, 4%, 64%, 1);
--pale-silver: hsla(9, 11%, 77%, 1);
--silver-pink: hsla(13, 30%, 72%, 1);
--lavender-blush: hsla(350, 26%, 91%, 1);
--magnolia: hsla(290, 19%, 94%, 1);
--light-gray: hsla(250, 6%, 82%, 1);
--light-periwinkle: hsla(222, 20%, 77%, 1);

/* SCSS HEX */
$davys-grey: #5e5b5bff;
$quick-silver: #a6a39eff;
$pale-silver: #ccc1bfff;
$silver-pink: #cdaca3ff;
$lavender-blush: #eee2e4ff;
$magnolia: #f1ecf2ff;
$light-gray: #cecdd3ff;
$light-periwinkle: #bac1d1ff;

/* SCSS HSL */
$davys-grey: hsla(0, 2%, 36%, 1);
$quick-silver: hsla(37, 4%, 64%, 1);
$pale-silver: hsla(9, 11%, 77%, 1);
$silver-pink: hsla(13, 30%, 72%, 1);
$lavender-blush: hsla(350, 26%, 91%, 1);
$magnolia: hsla(290, 19%, 94%, 1);
$light-gray: hsla(250, 6%, 82%, 1);
$light-periwinkle: hsla(222, 20%, 77%, 1);

/* SCSS RGB */
$davys-grey: rgba(94, 91, 91, 1);
$quick-silver: rgba(166, 163, 158, 1);
$pale-silver: rgba(204, 193, 191, 1);
$silver-pink: rgba(205, 172, 163, 1);
$lavender-blush: rgba(238, 226, 228, 1);
$magnolia: rgba(241, 236, 242, 1);
$light-gray: rgba(206, 205, 211, 1);
$light-periwinkle: rgba(186, 193, 209, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5e5b5bff, #a6a39eff, #ccc1bfff, #cdaca3ff, #eee2e4ff, #f1ecf2ff, #cecdd3ff, #bac1d1ff);
$gradient-right: linear-gradient(90deg, #5e5b5bff, #a6a39eff, #ccc1bfff, #cdaca3ff, #eee2e4ff, #f1ecf2ff, #cecdd3ff, #bac1d1ff);
$gradient-bottom: linear-gradient(180deg, #5e5b5bff, #a6a39eff, #ccc1bfff, #cdaca3ff, #eee2e4ff, #f1ecf2ff, #cecdd3ff, #bac1d1ff);
$gradient-left: linear-gradient(270deg, #5e5b5bff, #a6a39eff, #ccc1bfff, #cdaca3ff, #eee2e4ff, #f1ecf2ff, #cecdd3ff, #bac1d1ff);
$gradient-top-right: linear-gradient(45deg, #5e5b5bff, #a6a39eff, #ccc1bfff, #cdaca3ff, #eee2e4ff, #f1ecf2ff, #cecdd3ff, #bac1d1ff);
$gradient-bottom-right: linear-gradient(135deg, #5e5b5bff, #a6a39eff, #ccc1bfff, #cdaca3ff, #eee2e4ff, #f1ecf2ff, #cecdd3ff, #bac1d1ff);
$gradient-top-left: linear-gradient(225deg, #5e5b5bff, #a6a39eff, #ccc1bfff, #cdaca3ff, #eee2e4ff, #f1ecf2ff, #cecdd3ff, #bac1d1ff);
$gradient-bottom-left: linear-gradient(315deg, #5e5b5bff, #a6a39eff, #ccc1bfff, #cdaca3ff, #eee2e4ff, #f1ecf2ff, #cecdd3ff, #bac1d1ff);
$gradient-radial: radial-gradient(#5e5b5bff, #a6a39eff, #ccc1bfff, #cdaca3ff, #eee2e4ff, #f1ecf2ff, #cecdd3ff, #bac1d1ff);