/* Coolors Exported Palette - https://coolors.co/be8b79-7d7269-9ab2c8-c2cfd7-eededa-f2edf1-c7c0cc-ac9aa5-232e3d-83aecb */

/* CSS HEX */
--antique-brass: #be8b79ff;
--sonic-silver: #7d7269ff;
--cadet-blue-crayola: #9ab2c8ff;
--silver-sand: #c2cfd7ff;
--champagne-pink: #eededaff;
--isabelline: #f2edf1ff;
--lavender-gray: #c7c0ccff;
--heliotrope-gray: #ac9aa5ff;
--gunmetal: #232e3dff;
--air-superiority-blue: #83aecbff;

/* CSS HSL */
--antique-brass: hsla(16, 35%, 61%, 1);
--sonic-silver: hsla(27, 9%, 45%, 1);
--cadet-blue-crayola: hsla(209, 29%, 69%, 1);
--silver-sand: hsla(203, 21%, 80%, 1);
--champagne-pink: hsla(12, 37%, 89%, 1);
--isabelline: hsla(312, 16%, 94%, 1);
--lavender-gray: hsla(275, 11%, 78%, 1);
--heliotrope-gray: hsla(323, 10%, 64%, 1);
--gunmetal: hsla(215, 27%, 19%, 1);
--air-superiority-blue: hsla(204, 41%, 65%, 1);

/* SCSS HEX */
$antique-brass: #be8b79ff;
$sonic-silver: #7d7269ff;
$cadet-blue-crayola: #9ab2c8ff;
$silver-sand: #c2cfd7ff;
$champagne-pink: #eededaff;
$isabelline: #f2edf1ff;
$lavender-gray: #c7c0ccff;
$heliotrope-gray: #ac9aa5ff;
$gunmetal: #232e3dff;
$air-superiority-blue: #83aecbff;

/* SCSS HSL */
$antique-brass: hsla(16, 35%, 61%, 1);
$sonic-silver: hsla(27, 9%, 45%, 1);
$cadet-blue-crayola: hsla(209, 29%, 69%, 1);
$silver-sand: hsla(203, 21%, 80%, 1);
$champagne-pink: hsla(12, 37%, 89%, 1);
$isabelline: hsla(312, 16%, 94%, 1);
$lavender-gray: hsla(275, 11%, 78%, 1);
$heliotrope-gray: hsla(323, 10%, 64%, 1);
$gunmetal: hsla(215, 27%, 19%, 1);
$air-superiority-blue: hsla(204, 41%, 65%, 1);

/* SCSS RGB */
$antique-brass: rgba(190, 139, 121, 1);
$sonic-silver: rgba(125, 114, 105, 1);
$cadet-blue-crayola: rgba(154, 178, 200, 1);
$silver-sand: rgba(194, 207, 215, 1);
$champagne-pink: rgba(238, 222, 218, 1);
$isabelline: rgba(242, 237, 241, 1);
$lavender-gray: rgba(199, 192, 204, 1);
$heliotrope-gray: rgba(172, 154, 165, 1);
$gunmetal: rgba(35, 46, 61, 1);
$air-superiority-blue: rgba(131, 174, 203, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #be8b79ff, #7d7269ff, #9ab2c8ff, #c2cfd7ff, #eededaff, #f2edf1ff, #c7c0ccff, #ac9aa5ff, #232e3dff, #83aecbff);
$gradient-right: linear-gradient(90deg, #be8b79ff, #7d7269ff, #9ab2c8ff, #c2cfd7ff, #eededaff, #f2edf1ff, #c7c0ccff, #ac9aa5ff, #232e3dff, #83aecbff);
$gradient-bottom: linear-gradient(180deg, #be8b79ff, #7d7269ff, #9ab2c8ff, #c2cfd7ff, #eededaff, #f2edf1ff, #c7c0ccff, #ac9aa5ff, #232e3dff, #83aecbff);
$gradient-left: linear-gradient(270deg, #be8b79ff, #7d7269ff, #9ab2c8ff, #c2cfd7ff, #eededaff, #f2edf1ff, #c7c0ccff, #ac9aa5ff, #232e3dff, #83aecbff);
$gradient-top-right: linear-gradient(45deg, #be8b79ff, #7d7269ff, #9ab2c8ff, #c2cfd7ff, #eededaff, #f2edf1ff, #c7c0ccff, #ac9aa5ff, #232e3dff, #83aecbff);
$gradient-bottom-right: linear-gradient(135deg, #be8b79ff, #7d7269ff, #9ab2c8ff, #c2cfd7ff, #eededaff, #f2edf1ff, #c7c0ccff, #ac9aa5ff, #232e3dff, #83aecbff);
$gradient-top-left: linear-gradient(225deg, #be8b79ff, #7d7269ff, #9ab2c8ff, #c2cfd7ff, #eededaff, #f2edf1ff, #c7c0ccff, #ac9aa5ff, #232e3dff, #83aecbff);
$gradient-bottom-left: linear-gradient(315deg, #be8b79ff, #7d7269ff, #9ab2c8ff, #c2cfd7ff, #eededaff, #f2edf1ff, #c7c0ccff, #ac9aa5ff, #232e3dff, #83aecbff);
$gradient-radial: radial-gradient(#be8b79ff, #7d7269ff, #9ab2c8ff, #c2cfd7ff, #eededaff, #f2edf1ff, #c7c0ccff, #ac9aa5ff, #232e3dff, #83aecbff);