/* Coolors Exported Palette - https://coolors.co/99b8d5-798996-283a48-441d13-a9a5ac-d2b9a3-f1b799 */

/* CSS HEX */
--pale-cerulean: #99b8d5ff;
--light-slate-gray: #798996ff;
--charcoal: #283a48ff;
--black-bean: #441d13ff;
--silver-metallic: #a9a5acff;
--khaki-web: #d2b9a3ff;
--tumbleweed: #f1b799ff;

/* CSS HSL */
--pale-cerulean: hsla(209, 42%, 72%, 1);
--light-slate-gray: hsla(207, 12%, 53%, 1);
--charcoal: hsla(206, 29%, 22%, 1);
--black-bean: hsla(12, 56%, 17%, 1);
--silver-metallic: hsla(274, 4%, 66%, 1);
--khaki-web: hsla(28, 34%, 73%, 1);
--tumbleweed: hsla(20, 76%, 77%, 1);

/* SCSS HEX */
$pale-cerulean: #99b8d5ff;
$light-slate-gray: #798996ff;
$charcoal: #283a48ff;
$black-bean: #441d13ff;
$silver-metallic: #a9a5acff;
$khaki-web: #d2b9a3ff;
$tumbleweed: #f1b799ff;

/* SCSS HSL */
$pale-cerulean: hsla(209, 42%, 72%, 1);
$light-slate-gray: hsla(207, 12%, 53%, 1);
$charcoal: hsla(206, 29%, 22%, 1);
$black-bean: hsla(12, 56%, 17%, 1);
$silver-metallic: hsla(274, 4%, 66%, 1);
$khaki-web: hsla(28, 34%, 73%, 1);
$tumbleweed: hsla(20, 76%, 77%, 1);

/* SCSS RGB */
$pale-cerulean: rgba(153, 184, 213, 1);
$light-slate-gray: rgba(121, 137, 150, 1);
$charcoal: rgba(40, 58, 72, 1);
$black-bean: rgba(68, 29, 19, 1);
$silver-metallic: rgba(169, 165, 172, 1);
$khaki-web: rgba(210, 185, 163, 1);
$tumbleweed: rgba(241, 183, 153, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #99b8d5ff, #798996ff, #283a48ff, #441d13ff, #a9a5acff, #d2b9a3ff, #f1b799ff);
$gradient-right: linear-gradient(90deg, #99b8d5ff, #798996ff, #283a48ff, #441d13ff, #a9a5acff, #d2b9a3ff, #f1b799ff);
$gradient-bottom: linear-gradient(180deg, #99b8d5ff, #798996ff, #283a48ff, #441d13ff, #a9a5acff, #d2b9a3ff, #f1b799ff);
$gradient-left: linear-gradient(270deg, #99b8d5ff, #798996ff, #283a48ff, #441d13ff, #a9a5acff, #d2b9a3ff, #f1b799ff);
$gradient-top-right: linear-gradient(45deg, #99b8d5ff, #798996ff, #283a48ff, #441d13ff, #a9a5acff, #d2b9a3ff, #f1b799ff);
$gradient-bottom-right: linear-gradient(135deg, #99b8d5ff, #798996ff, #283a48ff, #441d13ff, #a9a5acff, #d2b9a3ff, #f1b799ff);
$gradient-top-left: linear-gradient(225deg, #99b8d5ff, #798996ff, #283a48ff, #441d13ff, #a9a5acff, #d2b9a3ff, #f1b799ff);
$gradient-bottom-left: linear-gradient(315deg, #99b8d5ff, #798996ff, #283a48ff, #441d13ff, #a9a5acff, #d2b9a3ff, #f1b799ff);
$gradient-radial: radial-gradient(#99b8d5ff, #798996ff, #283a48ff, #441d13ff, #a9a5acff, #d2b9a3ff, #f1b799ff);