/* Coolors Exported Palette - https://coolors.co/9bb3ad-4e7470-7f7f77-697475-f1e1d1-fbf7eb-eefdfa-86b3d5-77c6e4 */

/* CSS HEX */
--opal: #9bb3adff;
--hookers-green: #4e7470ff;
--battleship-grey: #7f7f77ff;
--nickel: #697475ff;
--almond: #f1e1d1ff;
--floral-white: #fbf7ebff;
--mint-cream: #eefdfaff;
--aero: #86b3d5ff;
--sky-blue: #77c6e4ff;

/* CSS HSL */
--opal: hsla(165, 14%, 65%, 1);
--hookers-green: hsla(174, 20%, 38%, 1);
--battleship-grey: hsla(60, 3%, 48%, 1);
--nickel: hsla(185, 5%, 44%, 1);
--almond: hsla(30, 53%, 88%, 1);
--floral-white: hsla(45, 67%, 95%, 1);
--mint-cream: hsla(168, 79%, 96%, 1);
--aero: hsla(206, 48%, 68%, 1);
--sky-blue: hsla(197, 67%, 68%, 1);

/* SCSS HEX */
$opal: #9bb3adff;
$hookers-green: #4e7470ff;
$battleship-grey: #7f7f77ff;
$nickel: #697475ff;
$almond: #f1e1d1ff;
$floral-white: #fbf7ebff;
$mint-cream: #eefdfaff;
$aero: #86b3d5ff;
$sky-blue: #77c6e4ff;

/* SCSS HSL */
$opal: hsla(165, 14%, 65%, 1);
$hookers-green: hsla(174, 20%, 38%, 1);
$battleship-grey: hsla(60, 3%, 48%, 1);
$nickel: hsla(185, 5%, 44%, 1);
$almond: hsla(30, 53%, 88%, 1);
$floral-white: hsla(45, 67%, 95%, 1);
$mint-cream: hsla(168, 79%, 96%, 1);
$aero: hsla(206, 48%, 68%, 1);
$sky-blue: hsla(197, 67%, 68%, 1);

/* SCSS RGB */
$opal: rgba(155, 179, 173, 1);
$hookers-green: rgba(78, 116, 112, 1);
$battleship-grey: rgba(127, 127, 119, 1);
$nickel: rgba(105, 116, 117, 1);
$almond: rgba(241, 225, 209, 1);
$floral-white: rgba(251, 247, 235, 1);
$mint-cream: rgba(238, 253, 250, 1);
$aero: rgba(134, 179, 213, 1);
$sky-blue: rgba(119, 198, 228, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #9bb3adff, #4e7470ff, #7f7f77ff, #697475ff, #f1e1d1ff, #fbf7ebff, #eefdfaff, #86b3d5ff, #77c6e4ff);
$gradient-right: linear-gradient(90deg, #9bb3adff, #4e7470ff, #7f7f77ff, #697475ff, #f1e1d1ff, #fbf7ebff, #eefdfaff, #86b3d5ff, #77c6e4ff);
$gradient-bottom: linear-gradient(180deg, #9bb3adff, #4e7470ff, #7f7f77ff, #697475ff, #f1e1d1ff, #fbf7ebff, #eefdfaff, #86b3d5ff, #77c6e4ff);
$gradient-left: linear-gradient(270deg, #9bb3adff, #4e7470ff, #7f7f77ff, #697475ff, #f1e1d1ff, #fbf7ebff, #eefdfaff, #86b3d5ff, #77c6e4ff);
$gradient-top-right: linear-gradient(45deg, #9bb3adff, #4e7470ff, #7f7f77ff, #697475ff, #f1e1d1ff, #fbf7ebff, #eefdfaff, #86b3d5ff, #77c6e4ff);
$gradient-bottom-right: linear-gradient(135deg, #9bb3adff, #4e7470ff, #7f7f77ff, #697475ff, #f1e1d1ff, #fbf7ebff, #eefdfaff, #86b3d5ff, #77c6e4ff);
$gradient-top-left: linear-gradient(225deg, #9bb3adff, #4e7470ff, #7f7f77ff, #697475ff, #f1e1d1ff, #fbf7ebff, #eefdfaff, #86b3d5ff, #77c6e4ff);
$gradient-bottom-left: linear-gradient(315deg, #9bb3adff, #4e7470ff, #7f7f77ff, #697475ff, #f1e1d1ff, #fbf7ebff, #eefdfaff, #86b3d5ff, #77c6e4ff);
$gradient-radial: radial-gradient(#9bb3adff, #4e7470ff, #7f7f77ff, #697475ff, #f1e1d1ff, #fbf7ebff, #eefdfaff, #86b3d5ff, #77c6e4ff);