/* Coolors Exported Palette - https://coolors.co/6d7576-3b4243-ffaf5f-c6ac8f-feedc2-bd643e-8e8c95 */

/* CSS HEX */
--nickel: #6d7576ff;
--outer-space-crayola: #3b4243ff;
--rajah: #ffaf5fff;
--khaki-web: #c6ac8fff;
--lemon-meringue: #feedc2ff;
--copper-red: #bd643eff;
--roman-silver: #8e8c95ff;

/* CSS HSL */
--nickel: hsla(187, 4%, 45%, 1);
--outer-space-crayola: hsla(187, 6%, 25%, 1);
--rajah: hsla(30, 100%, 69%, 1);
--khaki-web: hsla(32, 33%, 67%, 1);
--lemon-meringue: hsla(43, 97%, 88%, 1);
--copper-red: hsla(18, 51%, 49%, 1);
--roman-silver: hsla(253, 4%, 57%, 1);

/* SCSS HEX */
$nickel: #6d7576ff;
$outer-space-crayola: #3b4243ff;
$rajah: #ffaf5fff;
$khaki-web: #c6ac8fff;
$lemon-meringue: #feedc2ff;
$copper-red: #bd643eff;
$roman-silver: #8e8c95ff;

/* SCSS HSL */
$nickel: hsla(187, 4%, 45%, 1);
$outer-space-crayola: hsla(187, 6%, 25%, 1);
$rajah: hsla(30, 100%, 69%, 1);
$khaki-web: hsla(32, 33%, 67%, 1);
$lemon-meringue: hsla(43, 97%, 88%, 1);
$copper-red: hsla(18, 51%, 49%, 1);
$roman-silver: hsla(253, 4%, 57%, 1);

/* SCSS RGB */
$nickel: rgba(109, 117, 118, 1);
$outer-space-crayola: rgba(59, 66, 67, 1);
$rajah: rgba(255, 175, 95, 1);
$khaki-web: rgba(198, 172, 143, 1);
$lemon-meringue: rgba(254, 237, 194, 1);
$copper-red: rgba(189, 100, 62, 1);
$roman-silver: rgba(142, 140, 149, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #6d7576ff, #3b4243ff, #ffaf5fff, #c6ac8fff, #feedc2ff, #bd643eff, #8e8c95ff);
$gradient-right: linear-gradient(90deg, #6d7576ff, #3b4243ff, #ffaf5fff, #c6ac8fff, #feedc2ff, #bd643eff, #8e8c95ff);
$gradient-bottom: linear-gradient(180deg, #6d7576ff, #3b4243ff, #ffaf5fff, #c6ac8fff, #feedc2ff, #bd643eff, #8e8c95ff);
$gradient-left: linear-gradient(270deg, #6d7576ff, #3b4243ff, #ffaf5fff, #c6ac8fff, #feedc2ff, #bd643eff, #8e8c95ff);
$gradient-top-right: linear-gradient(45deg, #6d7576ff, #3b4243ff, #ffaf5fff, #c6ac8fff, #feedc2ff, #bd643eff, #8e8c95ff);
$gradient-bottom-right: linear-gradient(135deg, #6d7576ff, #3b4243ff, #ffaf5fff, #c6ac8fff, #feedc2ff, #bd643eff, #8e8c95ff);
$gradient-top-left: linear-gradient(225deg, #6d7576ff, #3b4243ff, #ffaf5fff, #c6ac8fff, #feedc2ff, #bd643eff, #8e8c95ff);
$gradient-bottom-left: linear-gradient(315deg, #6d7576ff, #3b4243ff, #ffaf5fff, #c6ac8fff, #feedc2ff, #bd643eff, #8e8c95ff);
$gradient-radial: radial-gradient(#6d7576ff, #3b4243ff, #ffaf5fff, #c6ac8fff, #feedc2ff, #bd643eff, #8e8c95ff);